.chat-1st-page {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: #f1f2f5;
}
.Chat_1stPagePhoto {
  height: 40%;
  width: 40%;
}
.chat-1st-page-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  color: #415262;
}

.chat-1st-page-wrapper > p {
  text-align: center;
}
.chat-1st-page-wrapper > h1{
    margin-top: 2%;
    margin-bottom: 1%;
}

.chat-1st-page-wrapper > p:last-child {
  display: flex;
  position: absolute;
  bottom: 8%;
}
